{% include "header.html" %}
{% include "nav_bar.html" %}
{% include "side_nav_bar.html" %}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Customer Subsystem</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{{ url_for('superadmin_api.dashboard_superadmin') }}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Customer</li>
                        </ol>
                        <hr>
                        <br>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                User - Customer
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Email Confirm</th>
                                            <th>Active</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Email Confirm</th>
                                            <th>Active</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for entry in result|sort(attribute='login_id') %}
                                            <tr>
                                                <td>{{ entry.login_id }}</td>
                                                <td>{{ entry.name }}</td>
                                                <td>{{ entry.email }}</td>
                                                <td>{{ entry.role }}</td>
                                                <td>{{ entry.email_confirm }}</td>
                                                <td>{{ entry.is_active }}</td>
                                                <td>
                                                    {% if entry.is_active %}
                                                        <button onclick="confirmDeactivate('{{ entry.login_id }}')" class="btn btn-danger">Deactivate</button>
                                                    {% else %}
                                                        <button onclick="confirmActivate('{{ entry.login_id }}')" class="btn btn-success">Activate</button>
                                                    {% endif %}
                                                    <button onclick="confirmDelete('{{ entry.login_id }}')" class="btn btn-danger">Delete</button>

                                                </td>
                                            </tr>
                                            <script>
                                                function confirmDeactivate(login_id) {
                                                    Swal.fire({
                                                        title: 'Are you sure?',
                                                        text: "You are about to deactivate this account.",
                                                        icon: 'warning',
                                                        showCancelButton: true,
                                                        confirmButtonColor: '#d33',
                                                        cancelButtonColor: '#3085d6',
                                                        confirmButtonText: 'Yes, deactivate it!'
                                                    }).then((result) => {
                                                        if (result.isConfirmed) {
                                                            // Send a request to deactivate the account
                                                            fetch(`/superadmin/customer-admin/deactivate/${login_id}`, {
                                                                method: 'POST'
                                                            })
                                                            .then(response => {
                                                                if (response.ok) {
                                                                    return response.json(); // Parse the JSON response
                                                                }
                                                                throw new Error('Failed to deactivate the account.');
                                                            })
                                                            .then(data => {
                                                                // Show success message
                                                                Swal.fire({
                                                                    icon: 'success',
                                                                    title: 'Account Deactivated',
                                                                    text: data.message,
                                                                    timer: 4000, // 4 seconds
                                                                    timerProgressBar: true,
                                                                    showConfirmButton: false
                                                                }).then(() => {
                                                                    // Redirect or refresh the page if needed
                                                                    // window.location.href = '{{ url_for("superadmin_api.payroll_superadmin") }}';
                                                                    window.location.reload(); // Reload the current page
                                                                });
                                                            })
                                                            .catch(error => {
                                                                console.error('Failed to deactivate account:', error);
                                                                Swal.fire({
                                                                    icon: 'error',
                                                                    title: 'Oops...',
                                                                    text: 'Failed to deactivate account. Please try again later.'
                                                                });
                                                            });
                                                        }
                                                    });
                                                }

                                                function confirmActivate(login_id) {
                                                    Swal.fire({
                                                        title: 'Are you sure?',
                                                        text: "You are about to activate this account.",
                                                        icon: 'warning',
                                                        showCancelButton: true,
                                                        confirmButtonColor: '#3085d6',
                                                        cancelButtonColor: '#d33',
                                                        confirmButtonText: 'Yes, activate it!'
                                                    }).then((result) => {
                                                        if (result.isConfirmed) {
                                                            // Send a request to activate the account
                                                            fetch(`/superadmin/customer-admin/activate/${login_id}`, {
                                                                method: 'POST'
                                                            })
                                                            .then(response => {
                                                                if (response.ok) {
                                                                    return response.json(); // Parse the JSON response
                                                                }
                                                                throw new Error('Failed to activate the account.');
                                                            })
                                                            .then(data => {
                                                                // Show success message
                                                                Swal.fire({
                                                                    icon: 'success',
                                                                    title: 'Account Activated',
                                                                    text: data.message,
                                                                    timer: 4000, // 4 seconds
                                                                    timerProgressBar: true,
                                                                    showConfirmButton: false
                                                                }).then(() => {
                                                                    // Redirect or refresh the page if needed
                                                                    // window.location.href = '{{ url_for("superadmin_api.payroll_superadmin") }}';
                                                                    window.location.reload(); // Reload the current page
                                                                });
                                                            })
                                                            .catch(error => {
                                                                console.error('Failed to activate account:', error);
                                                                Swal.fire({
                                                                    icon: 'error',
                                                                    title: 'Oops...',
                                                                    text: 'Failed to activate account. Please try again later.'
                                                                });
                                                            });
                                                        }
                                                    });
                                                }

                                                function confirmDelete(login_id) {
                                                    Swal.fire({
                                                        title: 'Are you sure?',
                                                        text: "You are about to delete this account.",
                                                        icon: 'warning',
                                                        showCancelButton: true,
                                                        confirmButtonColor: '#d33',
                                                        cancelButtonColor: '#3085d6',
                                                        confirmButtonText: 'Yes, delete it!'
                                                    }).then((result) => {
                                                        if (result.isConfirmed) {
                                                            // Send a request to delete the account
                                                            fetch(`/superadmin/customer-admin/delete/${login_id}`, {
                                                                method: 'POST'
                                                            })
                                                            .then(response => {
                                                                if (response.ok) {
                                                                    return response.json(); // Parse the JSON response
                                                                }
                                                                throw new Error('Failed to delete the account.');
                                                            })
                                                            .then(data => {
                                                                // Show success message
                                                                Swal.fire({
                                                                    icon: 'success',
                                                                    title: 'Successfully deleted',
                                                                    text: data.message,
                                                                    timer: 2000, // 4 seconds
                                                                    timerProgressBar: true,
                                                                    showConfirmButton: false
                                                                }).then(() => {
                                                                    // Redirect to the Superadmin Dashboard after the popup closes
                                                                    // window.location.href = '{{ url_for("superadmin_api.customer_superadmin") }}';
                                                                    window.location.reload();
                                                                });
                                                            })
                                                            .catch(error => {
                                                                console.error('Failed to delete account:', error);
                                                                Swal.fire({
                                                                    icon: 'error',
                                                                    title: 'Oops...',
                                                                    text: 'Failed to delete account. Please try again later.'
                                                                });
                                                            });
                                                        }
                                                    });
                                                }
                                            </script>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>

{% include "footer.html" %}