<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
<!--                        <div class="row">-->
<!--                            <div class="col-xl-3 col-md-6">-->
<!--                                <div class="card bg-primary text-white mb-4">-->
<!--                                    <div class="card-body">Primary Card</div>-->
<!--                                    <div class="card-footer d-flex align-items-center justify-content-between">-->
<!--                                        <a class="small text-white stretched-link" href="#">View Details</a>-->
<!--                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-xl-3 col-md-6">-->
<!--                                <div class="card bg-warning text-white mb-4">-->
<!--                                    <div class="card-body">Warning Card</div>-->
<!--                                    <div class="card-footer d-flex align-items-center justify-content-between">-->
<!--                                        <a class="small text-white stretched-link" href="#">View Details</a>-->
<!--                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-xl-3 col-md-6">-->
<!--                                <div class="card bg-success text-white mb-4">-->
<!--                                    <div class="card-body">Success Card</div>-->
<!--                                    <div class="card-footer d-flex align-items-center justify-content-between">-->
<!--                                        <a class="small text-white stretched-link" href="#">View Details</a>-->
<!--                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-xl-3 col-md-6">-->
<!--                                <div class="card bg-danger text-white mb-4">-->
<!--                                    <div class="card-body">Danger Card</div>-->
<!--                                    <div class="card-footer d-flex align-items-center justify-content-between">-->
<!--                                        <a class="small text-white stretched-link" href="#">View Details</a>-->
<!--                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        User Activity Chart
                                    </div>
<!--                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>-->
                                        <div class="card-body">
<!--                                            &lt;!&ndash; Render Plotly chart inside the canvas element &ndash;&gt;-->
<!--                                            <canvas id="chart" width="100%" height="40"></canvas>-->
                                            <div id="chart"></div>
                                        </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        User By Role
                                    </div>
<!--                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>-->
                                        <div class="card-body">
<!--                                            &lt;!&ndash; Render Plotly chart inside the canvas element &ndash;&gt;-->
<!--                                            <canvas id="chart" width="100%" height="40"></canvas>-->
                                            <div id="chart1"></div>
                                        </div>
                                </div>
                            </div>

                        </div>


<!--                        <div class="card mb-4">-->
<!--                            <div class="card-header">-->
<!--                                <i class="fas fa-table me-1"></i>-->
<!--                                DataTable Example-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                                <table id="datatablesSimple">-->
<!--                                    <thead>-->
<!--                                        <tr>-->
<!--                                            <th>ID</th>-->
<!--                                            <th>Name</th>-->
<!--                                            <th>Email</th>-->
<!--                                            <th>Role</th>-->
<!--                                            <th>Email Confirm</th>-->
<!--                                            <th>Active</th>-->
<!--                                        </tr>-->
<!--                                    </thead>-->
<!--                                    <tfoot>-->
<!--                                        <tr>-->
<!--                                            <th>ID</th>-->
<!--                                            <th>Name</th>-->
<!--                                            <th>Email</th>-->
<!--                                            <th>Role</th>-->
<!--                                            <th>Email Confirm</th>-->
<!--                                            <th>Active</th>-->
<!--                                        </tr>-->
<!--                                    </tfoot>-->
<!--                                    <tbody>-->
<!--                                        <tr>-->
<!--                                            <td>1</td>-->
<!--                                            <td>Julito Tiro</td>-->
<!--                                            <td>tiro.julito14@gmail.com</td>-->
<!--                                            <td>Admin</td>-->
<!--                                            <td>True</td>-->
<!--                                            <td>True</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>2</td>-->
<!--                                            <td>Maria Rodriguez</td>-->
<!--                                            <td>maria.rodriguez@email.com</td>-->
<!--                                            <td>Admin</td>-->
<!--                                            <td>True</td>-->
<!--                                            <td>False</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>3</td>-->
<!--                                            <td>Carlos Sanchez</td>-->
<!--                                            <td>carlos.sanchez@email.com</td>-->
<!--                                            <td>Admin</td>-->
<!--                                            <td>True</td>-->
<!--                                            <td>True</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>4</td>-->
<!--                                            <td>Laura Gomez</td>-->
<!--                                            <td>laura.gomez@email.com</td>-->
<!--                                            <td>Admin</td>-->
<!--                                            <td>False</td>-->
<!--                                            <td>True</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>5</td>-->
<!--                                            <td>Roberto Fernandez</td>-->
<!--                                            <td>roberto.fernandez@email.com</td>-->
<!--                                            <td>Staff</td>-->
<!--                                            <td>True</td>-->
<!--                                            <td>True</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>6</td>-->
<!--                                            <td>Ana Morales</td>-->
<!--                                            <td>ana.morales@email.com</td>-->
<!--                                            <td>Staff</td>-->
<!--                                            <td>True</td>-->
<!--                                            <td>False</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>7</td>-->
<!--                                            <td>Diego Herrera</td>-->
<!--                                            <td>diego.herrera@email.com</td>-->
<!--                                            <td>Staff</td>-->
<!--                                            <td>True</td>-->
<!--                                            <td>True</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>8</td>-->
<!--                                            <td>Sofia Ramirez</td>-->
<!--                                            <td>sofia.ramirez@email.com</td>-->
<!--                                            <td>Staff</td>-->
<!--                                            <td>False</td>-->
<!--                                            <td>True</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>9</td>-->
<!--                                            <td>Luis Torres</td>-->
<!--                                            <td>luis.torres@email.com</td>-->
<!--                                            <td>Staff</td>-->
<!--                                            <td>True</td>-->
<!--                                            <td>True</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>10</td>-->
<!--                                            <td>Elena Fernandez</td>-->
<!--                                            <td>elena.fernandez@email.com</td>-->
<!--                                            <td>Staff</td>-->
<!--                                            <td>True</td>-->
<!--                                            <td>False</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>11</td>-->
<!--                                            <td>Javier Ruiz</td>-->
<!--                                            <td>javier.ruiz@email.com</td>-->
<!--                                            <td>Staff</td>-->
<!--                                            <td>False</td>-->
<!--                                            <td>True</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>12</td>-->
<!--                                            <td>Marta Lopez</td>-->
<!--                                            <td>marta.lopez@email.com</td>-->
<!--                                            <td>Staff</td>-->
<!--                                            <td>True</td>-->
<!--                                            <td>True</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>13</td>-->
<!--                                            <td>Pedro Morales</td>-->
<!--                                            <td>pedro.morales@email.com</td>-->
<!--                                            <td>Staff</td>-->
<!--                                            <td>True</td>-->
<!--                                            <td>False</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>14</td>-->
<!--                                            <td>Carmen Garcia</td>-->
<!--                                            <td>carmen.garcia@email.com</td>-->
<!--                                            <td>Staff</td>-->
<!--                                            <td>False</td>-->
<!--                                            <td>True</td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td>15</td>-->
<!--                                            <td>Juan Perez</td>-->
<!--                                            <td>juan.perez@email.com</td>-->
<!--                                            <td>Staff</td>-->
<!--                                            <td>True</td>-->
<!--                                            <td>True</td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </main>