{% from "bootstrap5/form.html" import render_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">
    {% endblock %}
</head>
<body>

    <main class="mb-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-10 mx-auto">
              <br>
              <h2 class="text-center">Reset Password</h2>
              <br>
              <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="350" height="350" class="mx-auto d-block">
              <br>

            <!-- Rendering the registration form here -->
                {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                <style>
                    .btn-primary {
                        margin: 0 auto;
                        display: block;
                    }
                </style>
            </div>
          </div>
        </div>
      </div>
    </main>
</body>
</html>
