<div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark bg-custom" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" id="dashboardLink" href="{{ url_for('superadmin_api.dashboard_superadmin') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="{{ url_for('superadmin_api.user_registration') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                User Registration
                            </a>
                            <div class="sb-sidenav-menu-heading">User Management</div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" onclick="handleCollapse()">
                                    <div class="sb-nav-link-icon"><i class="fa-solid fa-bars-progress"></i></div>
                                    Subsystems
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <script>
                                    <!--
                                        function handleCollapse() {
                                        var collapseLayouts = document.getElementById('collapseLayouts');
                                        var isCollapsed = collapseLayouts.classList.contains('show');
                                        localStorage.setItem('isCollapsed', isCollapsed ? 'true' : 'false');
                                    }

                                    document.addEventListener('DOMContentLoaded', function() {
                                        var isCollapsed = localStorage.getItem('isCollapsed');
                                        var collapseLayouts = document.getElementById('collapseLayouts');
                                        if (isCollapsed === 'true') {
                                            collapseLayouts.classList.remove('show');
                                        } else {
                                            collapseLayouts.classList.add('show');
                                        }
                                    });-->

                                </script>
                                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{{ url_for('superadmin_api.billing_superadmin') }}">
    <!--                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>-->
                                            Billing Subsystem
                                        </a>
                                        <a class="nav-link" href="{{ url_for('superadmin_api.customer_superadmin') }}">
            <!--                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>-->
                                            Customer Subsystem
                                        </a>
                                         <a class="nav-link" href="{{ url_for('superadmin_api.employee_superadmin') }}">
            <!--                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>-->
                                            Employee Subsystem
                                        </a>
                                         <a class="nav-link" href="{{ url_for('superadmin_api.inventory_superadmin') }}">
            <!--                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>-->
                                            Inventory Subsystem
                                        </a>
                                         <a class="nav-link" href="{{ url_for('superadmin_api.payroll_superadmin') }}">
            <!--                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>-->
                                            Payroll Subsystem
                                        </a>
                                    </nav>
                                </div>

                         <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseActivityLogs" aria-expanded="false" aria-controls="collapseActivityLogs" onclick="handleActivityLogsCollapse()">
                             <div class="sb-nav-link-icon"><i class="fa-solid fa-book"></i></div>
                                  Activity Logs
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                         </a>

                            <script>


                            </script>
                            <div class="collapse" id="collapseActivityLogs" aria-labelledby="headingActivityLogs" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{ url_for('superadmin_api.billing_activity_logs') }}">
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>-->
                                        Billing Subsystem
                                    </a>
                                    <a class="nav-link" href="{{ url_for('superadmin_api.customer_activity_logs') }}">
        <!--                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>-->
                                        Customer Subsystem
                                    </a>
                                     <a class="nav-link" href="{{ url_for('superadmin_api.employee_activity_logs') }}">
        <!--                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>-->
                                        Employee Subsystem
                                    </a>
                                     <a class="nav-link" href="{{ url_for('superadmin_api.inventory_activity_logs') }}">
        <!--                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>-->
                                        Inventory Subsystem
                                    </a>
                                     <a class="nav-link" href="{{ url_for('superadmin_api.payroll_activity_logs') }}">
        <!--                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>-->
                                        Payroll Subsystem
                                    </a>
                                    <a class="nav-link" href="{{ url_for('superadmin_api.superadmin_activity_logs') }}">
        <!--                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>-->
                                        Superadmin
                                    </a>
                                </nav>
                            </div>


                            </div>
                        </div>
<!--                    <div class="sb-sidenav-footer">-->
<!--                        <div class="small">Logged in as:</div>-->
<!--                        Start Bootstrap-->
<!--                    </div>-->
                </nav>
            </div>
